html{
  height: 100%;
}

body {
  width: 100%;
  min-height:100%;
  background-attachment: fixed;
  background-size: cover; 
}

* {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.listsWrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
}

.listsHeader {
  display: flex;
  flex: 1 1 5%;
  min-height: 1.7em;
  max-height: 2em;
  font-size: 3.2em;
  color: rgb(165, 206, 112);
  font-family: 'Roboto', cursive;
  text-align: center;
  align-content: center;
  padding:5px 0px 20px 0px;
  margin-bottom: 2px;
  text-shadow: 3px 3px 10px #000;
  display: block;
}

.listsBody {
  padding-top: 24px;
  display: flex;
  flex: 1 1 85%;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
}

.listsFooter {
  display: flex;
  flex: 1 1 10%;
  margin-bottom: 30px;
  
}
